/*body {*/
/*    background: rebeccapurple;*/
/*    color: #fff;*/
/*    font-family: inherit;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    font-size: 25px;*/
/*}*/

.popup{
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
}

.active{
    transform: translateY(50%);
}
