

#nav{
width: 200px;
height: 100vh;
background: #147b81;
transform: translateX(-100%);
transition: 0.3s ease-in-out ;
}

#nav.active {
    transform: translateX(0);
}

#nav ul{
    list-style: none;
}

#nav ul li {
    padding: 15px;
    font-weight: bold;
}
#nav ul li a{
    color: #fff;
    text-decoration: none;
}
