body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerr{
    overflow: hidden;
    width: 500px;
    height: 500px;
}

img {
    transform-origin:center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}